---
import BaseLayout from '@layouts/BaseLayout.astro'
import { noirTheme } from '@themes/noir'
import { buildThemeCssVars } from '@lib/theme-css-vars'

interface Props {
  title?: string
  description?: string
}

const { title, description } = Astro.props
---

<BaseLayout title={title} description={description}>
  <div data-theme={noirTheme.id} style={buildThemeCssVars(noirTheme)}>
    <slot />
  </div>
</BaseLayout>
